@charset utf-8;

  html,body{width:100%; max-width:800px; min-width:320px; margin:0 auto; padding:0; height:auto;}
  #main{width:100%; max-width:800px; min-width:320px; margin:0 auto; padding:0; height:auto;position:relative;}
  .main_img{width:100%;}

#main .tit_wrap{position:absolute; top:4%; left:6%;}

#main .tit_wrap img{width:70%;display: block;opacity: 0;transform:translateX(-20px);transition:all 1.5s;}
#main .tit_wrap img:nth-child(2){transition-delay: .5s;}
#main .tit_wrap img:nth-child(3){transition-delay: 1s; margin-top:20px;}
#main .tit_wrap img.fixed {opacity:1;transform:translateX(0px);}
.map_txt{margin-bottom:70px; }

.call{padding:0; margin:0;  list-style:none; width:90%; margin:0 auto 100px; overflow:hidden;}
.call li{padding:0; margin:0; list-style:none; float:left; width:25%; }
.call li a{display:block;}
.call li a img{width:100%; }